# See https://litestream.io/getting-started/
access-key-id:     minioadmin
secret-access-key: minioadmin

exec: go run .
dbs:
  - path: .data/nwc.db
    replicas:
      - url: s3://nwc.localhost:9000/nwc.db
  - path: .data/ldk/storage/ldk_node_data.sqlite
    replicas:
      - url: s3://nwc.localhost:9000/ldk_node_data.sqlite
  - path: .data/ldk/storage/nwc_bdk_wallet_backup.sqlite
    replicas:
      - url: s3://nwc.localhost:9000/nwc_bdk_wallet_backup.sqlite